body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    display: block;
  }
  mat-form-field{
    margin: 10px 10px;
  }
  mat-radio-button,
  mat-checkbox{
    margin: 2px 5px;
    padding: 5px;
    }
  .radio-newline>mat-radio-button{
    display: block;

  }
  .as-block{
    display: block;
  }
  .cdk-overlay-pane>div {
    transform: translateX(25px);
  }
